.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  overflow: auto;
  

  
  
}


.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: left;
  overflow: hidden;
}


.text-center {
  text-align: center;
}
.title-jumbo-home {
  padding-top: 128px;
  color: whitesmoke;
}