.text-center {
    text-align: center;
  }
  
  .home-container {
    max-width: 960px;
    margin: 0 auto; 
    overflow: auto;
    
    
  }
  
  .homeCard {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: visible;
    /* display: inline-block; */
    
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .home-card-content {
    text-align: left;
    font-size: 1.2em;
    
  }