#jumbo-home {
    background: url('../../assets/images/taylor_river_1.jpg');
    background-size: cover;
    width: 100%;
    min-height: 360px;
  }
  .text-center {
    text-align: center;
    font-size: 2.6em;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
  }
  .title-jumbo-home {
    padding-top: 96px;
    
    
  }